<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Aghayevi_Passportmrz>
            <version>1.0.1</version>
        </Aghayevi_Passportmrz>
    </modules>
    <global>
        <helpers>
            <passportmrz>
                <class>Aghayevi_Passportmrz_Helper</class>
            </passportmrz>
        </helpers>
        <resources>
            <aghayevi_passportmrz_setup>
                <setup>
                    <module>Aghayevi_Passportmrz</module>
                </setup>
            </aghayevi_passportmrz_setup>
        </resources>
	<blocks>
	  <passportmrz>
		<class>Aghayevi_Passportmrz_Block</class>
	  </passportmrz>
	</blocks>
    </global>
    <frontend>
        <routers>
            <passportmrz>
                <use>standard</use>
                <args>
                    <module>Aghayevi_Passportmrz</module>
                    <frontName>passportmrz</frontName>
                </args>
            </passportmrz>
        </routers>
        <layout>
            <updates>
                <aghayevi_passportmrz>
                    <file>aghayevi_passportmrz.xml</file>
                </aghayevi_passportmrz>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <passportmrz>
                    <file>aghayevi_passportmrz.xml</file>
                </passportmrz>
            </updates>
        </layout>
    </adminhtml>
</config>